.container {
    position: relative;
  }
  
  .content {
    transition: all 300ms;
  }
  
  .blurred {
    filter: blur(12px);
  }
  
  .overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .button {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem;
    gap: 0.5rem;          /* gap-2 */
    align-items: center;   /* items-center */
    justify-content: center; /* justify-center */
  }

  .button:hover {
    background-color: black; /* hover:bg-blue-400 */
    color: white; /* hover:text-white */
    border-radius: 0.25rem;  /* rounded-lg */
  }